In [1]:
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt

C:\Users\Usuario_1\AppData\Local\Temp\ipykernel_16944\131226104.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
companies = pd.read_csv('companies new.csv', encoding="cp1252")

In [3]:
companies.sample()

   company_id   company_name    location company_type employees
9          10  Everett-Cline  Nunezville      private    51-100

In [4]:
companies.shape

(10, 5)

In [5]:
companies

,company_id,company_name,location,company_type,employees
0,1,Adams-Rice,Douglastown,public,"500-1,000"
1,2,Olson-Schneider,Vaughnbury,private,1-10
2,3,"Smith, Weber and Spence",Francisborough,non-profit,101-500
3,4,Johnston and Sons,New Gloriamouth,private,"500-1,000"
4,5,"Sullivan, Kirby and Smith",Port Robynhaven,non-profit,1-10
5,6,Davis Group,Rodriguezchester,public,101-500
6,7,Ryan PLC,Lake Nicole,private,1-10
7,8,"Jackson, Cabrera and Morales",Barnettfort,private,51-100
8,9,Lynch-Weaver,East Theresaview,private,51-100
9,10,Everett-Cline,Nunezville,private,51-100

In [6]:
mapeo = {
    'Douglastown': 'New York City',
    'Vaughnbury': 'Los Angeles',
    'New Gloriamouth': 'Chicago',
    'Port Robynhaven': 'Miami',
    'Rodriguezchester': 'Dallas',
    'Lake Nicole': 'Las Vegas',
    'Barnettfort': 'Boston',
    'East Theresaview': 'Philadelphia',
    'Nunezville': 'San Francisco',
    'Francisborough': 'Houston'
}

companies['location'] = companies['location'].replace(mapeo)

In [7]:
mapeo = {
    'New York City': 1,
    'Los Angeles': 2,
    'Chicago': 4,
    'Miami': 5,
    'Dallas': 6,
    'Las Vegas': 7,
    'Boston': 8,
    'Philadelphia': 9,
    'San Francisco': 10,
    'Houston': 3
}

companies['location_id'] = companies['location'].replace(mapeo)

C:\Users\Usuario_1\AppData\Local\Temp\ipykernel_16944\3866327153.py:14: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  companies['location_id'] = companies['location'].replace(mapeo)

In [8]:
mapeo_ct = {
    'public': 1,
    'private': 2,
    'non-profit': 3
}

companies['companytype_id'] = companies['company_type'].replace(mapeo_ct)

C:\Users\Usuario_1\AppData\Local\Temp\ipykernel_16944\661094969.py:7: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  companies['companytype_id'] = companies['company_type'].replace(mapeo_ct)

In [9]:
mapeo_e = {
    '1-10': 1,
    '51-100': 2,
    '101-500': 3,
    '500-1,000': 4
}

companies['employees_id'] = companies['employees'].replace(mapeo_e)

C:\Users\Usuario_1\AppData\Local\Temp\ipykernel_16944\3681925554.py:8: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  companies['employees_id'] = companies['employees'].replace(mapeo_e)

In [10]:
companies.drop(columns='company_type', inplace=True)
companies.drop(columns='employees', inplace=True)

In [11]:
companies.drop(columns='location', inplace=True)

In [12]:
companies.to_csv('companies_modificado.csv', index=False)

In [13]:
economic = pd.read_csv('economic_data new.csv', encoding="cp1252")

In [14]:
economic.shape

(7, 5)

In [15]:
economic

         Date  unemployment_rate   gdp_value      cpi  mortgage_rate_30y
0   1/31/2020                3.5  21.481.367  257.971               3.51
1   4/30/2020               14.7  19.477.444  256.389               3.23
2   7/31/2020               10.2  21.138.574  259.101               2.99
3  10/31/2020                6.9  21.477.597  260.388               2.81
4   1/31/2021                6.4  22.038.226  261.582               2.73
5   4/30/2021                6.0  22.740.959  267.054               2.98
6   7/31/2021                5.4  23.202.344  273.003               2.80

In [16]:
economic['Date'] = pd.to_datetime(economic['Date'], format='%m/%d/%Y')
economic['day'] = economic['Date'].dt.strftime('%Y-%m-%d')

In [17]:
economic

,Date,unemployment_rate,gdp_value,cpi,mortgage_rate_30y,day
0,2020-01-31,3.5,21.481.367,257.971,3.51,2020-01-31
1,2020-04-30,14.7,19.477.444,256.389,3.23,2020-04-30
2,2020-07-31,10.2,21.138.574,259.101,2.99,2020-07-31
3,2020-10-31,6.9,21.477.597,260.388,2.81,2020-10-31
4,2021-01-31,6.4,22.038.226,261.582,2.73,2021-01-31
5,2021-04-30,6.0,22.740.959,267.054,2.98,2021-04-30
6,2021-07-31,5.4,23.202.344,273.003,2.80,2021-07-31

In [18]:
economic.drop(columns='Date', inplace=True)

In [19]:
economic.to_csv('economic_modificado.csv', index=False)

In [20]:
purchases = pd.read_csv('purchases new.csv', encoding="cp1252")

In [21]:
purchases.shape

(100000, 5)

In [22]:
purchases.sample()

                      date  company_id productcategory  quantity  revenue
50001  2020-04-02 11:48:23           4  Mobile Devices        17   1403.2

In [23]:
purchases['company_id'].isnull().any()

False

In [24]:
purchases['productcategory'].isnull().any()

False

In [25]:
from sources.eliminate_duplicates import duplicates_elim as ed

In [26]:
purchases_nd = ed(purchases)

In [27]:
purchases_nd.shape

(100000, 5)

In [28]:
purchases['date'].isnull().any()

False

In [29]:
purchases['quantity'].isnull().any()

False

In [30]:
purchases['revenue'].isnull().any()

False

In [31]:
purchases['productcategory'].value_counts()

productcategory
Home & Kitchen             4111
Audio                      4094
Smart Home                 4069
Computers                  4066
Security & Surveillance    4065
Clothing                   4064
Home Improvement           4051
Electronics                4010
Cookware                   4008
Automotive                 4001
Office Supplies            3999
Footwear                   3994
Pet Supplies               3983
Gaming                     3982
Toys & Games               3980
Books & E-readers          3976
Smart Accessories          3974
Home Decor                 3961
Mobile Devices             3960
Outdoor                    3959
Cameras                    3953
Wearable Tech              3953
Sports & Outdoors          3951
Appliances                 3924
Fitness & Health           3912
Name: count, dtype: int64

In [32]:
palabras_clave_electronics_and_technology = ['Audio', 'Smart Home', 'Computers', 'Electronics', 'Mobile Devices', 'Wearable Tech','Cameras']

# Crea una máscara para identificar las filas que contienen alguna de las palabras clave
mask = purchases['productcategory'].str.contains('|'.join(palabras_clave_electronics_and_technology), case=False)


purchases.loc[mask, 'productcategory'] = 'Electronics and Technology'

# Verifica las actividades actualizadas
purchases['productcategory'].value_counts()

productcategory
Electronics and Technology    28105
Home & Kitchen                 4111
Security & Surveillance        4065
Clothing                       4064
Home Improvement               4051
Cookware                       4008
Automotive                     4001
Office Supplies                3999
Footwear                       3994
Pet Supplies                   3983
Gaming                         3982
Toys & Games                   3980
Books & E-readers              3976
Smart Accessories              3974
Home Decor                     3961
Outdoor                        3959
Sports & Outdoors              3951
Appliances                     3924
Fitness & Health               3912
Name: count, dtype: int64

In [33]:
palabras_clave_home_and_kitchen = ['Home & Kitchen', 'Home Improvement', 'Cookware', 'Home Decor', 'Appliances']

# Crea una máscara para identificar las filas que contienen alguna de las palabras clave
mask = purchases['productcategory'].str.contains('|'.join(palabras_clave_home_and_kitchen), case=False)


purchases.loc[mask, 'productcategory'] = 'Home and Kitchen'

# Verifica las actividades actualizadas
purchases['productcategory'].value_counts()

productcategory
Electronics and Technology    28105
Home and Kitchen              20055
Security & Surveillance        4065
Clothing                       4064
Automotive                     4001
Office Supplies                3999
Footwear                       3994
Pet Supplies                   3983
Gaming                         3982
Toys & Games                   3980
Books & E-readers              3976
Smart Accessories              3974
Outdoor                        3959
Sports & Outdoors              3951
Fitness & Health               3912
Name: count, dtype: int64

In [34]:
palabras_clave_fashion_and_accesories = ['Clothing', 'Footwear', 'Smart Accessories']

# Crea una máscara para identificar las filas que contienen alguna de las palabras clave
mask = purchases['productcategory'].str.contains('|'.join(palabras_clave_fashion_and_accesories), case=False)


purchases.loc[mask, 'productcategory'] = 'Fashion and Accessories'

# Verifica las actividades actualizadas
purchases['productcategory'].value_counts()

productcategory
Electronics and Technology    28105
Home and Kitchen              20055
Fashion and Accessories       12032
Security & Surveillance        4065
Automotive                     4001
Office Supplies                3999
Pet Supplies                   3983
Gaming                         3982
Toys & Games                   3980
Books & E-readers              3976
Outdoor                        3959
Sports & Outdoors              3951
Fitness & Health               3912
Name: count, dtype: int64

In [35]:
palabras_clave_entertainment_and_leisure = ['Gaming', 'Toys & Games', 'Books & E-readers', 'Sports & Outdoors']

# Crea una máscara para identificar las filas que contienen alguna de las palabras clave
mask = purchases['productcategory'].str.contains('|'.join(palabras_clave_entertainment_and_leisure), case=False)


purchases.loc[mask, 'productcategory'] = 'Entertainment and Leisure'

# Verifica las actividades actualizadas
purchases['productcategory'].value_counts()

productcategory
Electronics and Technology    28105
Home and Kitchen              20055
Entertainment and Leisure     15889
Fashion and Accessories       12032
Security & Surveillance        4065
Automotive                     4001
Office Supplies                3999
Pet Supplies                   3983
Outdoor                        3959
Fitness & Health               3912
Name: count, dtype: int64

In [36]:
palabras_clave_supplies_and_others = ['Security & Surveillance', 'Automotive', 'Office Supplies', 'Pet Supplies', 'Outdoor', 'Fitness & Health']

# Crea una máscara para identificar las filas que contienen alguna de las palabras clave
mask = purchases['productcategory'].str.contains('|'.join(palabras_clave_supplies_and_others), case=False)


purchases.loc[mask, 'productcategory'] = 'Supplies and Others'

# Verifica las actividades actualizadas
purchases['productcategory'].value_counts()

productcategory
Electronics and Technology    28105
Supplies and Others           23919
Home and Kitchen              20055
Entertainment and Leisure     15889
Fashion and Accessories       12032
Name: count, dtype: int64

In [37]:
purchases['date'].value_counts

<bound method IndexOpsMixin.value_counts of 0        2020-11-01 13:16:29
1        2021-06-16 21:03:11
2        2021-01-20 08:54:45
3        2020-08-19 20:57:17
4        2020-07-06 23:55:17
                ...
99995    2020-02-13 07:30:32
99996    2021-02-21 05:21:44
99997    2020-12-07 22:14:37
99998    2020-11-27 13:19:06
99999    2020-09-10 16:51:11
Name: date, Length: 100000, dtype: object>

In [38]:
purchases['date'] = pd.to_datetime(purchases['date'])
purchases['day'] = purchases['date'].dt.strftime('%Y-%m-%d')
purchases['hour'] = purchases['date'].dt.strftime('%H:%M:%S')

In [39]:
purchases.sample()

,date,company_id,productcategory,quantity,revenue,day,hour
26402,2020-12-08 18:25:18,8,Home and Kitchen,37,1403.2,2020-12-08,18:25:18

In [40]:
purchases.drop(columns='date', inplace=True)
purchases.drop(columns='hour', inplace=True)

In [75]:
purchases['day'].dtype

dtype('O')

In [41]:
mapeo = {
    'Electronics and Technology': 1,
    'Supplies and Others': 2,
    'Home and Kitchen': 3,
    'Entertainment and Leisure': 4,
    'Fashion and Accessories': 5
}

purchases['category_id'] = purchases['productcategory'].replace(mapeo)

C:\Users\Usuario_1\AppData\Local\Temp\ipykernel_16944\1447607664.py:9: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  purchases['category_id'] = purchases['productcategory'].replace(mapeo)

In [42]:
purchases['category_id'].value_counts()

category_id
1    28105
2    23919
3    20055
4    15889
5    12032
Name: count, dtype: int64

In [43]:
purchases.drop(columns='productcategory', inplace=True)

In [44]:
purchases.to_csv('purchases_modificado.csv', index=False)

In [45]:
import pymysql
import sqlalchemy as alch
from getpass import getpass
import pandas as pd

In [46]:
pip install pymysql

Requirement already satisfied: pymysql in c:\users\usuario_1\anaconda3\envs\ironhack\lib\site-packages (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [47]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\usuario_1\anaconda3\envs\ironhack\lib\site-packages (2.0.28)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\usuario_1\anaconda3\envs\ironhack\lib\site-packages (from sqlalchemy) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\usuario_1\anaconda3\envs\ironhack\lib\site-packages (from sqlalchemy) (3.0.3)
Note: you may need to restart the kernel to use updated packages.

In [48]:
pip install cryptography

Requirement already satisfied: cryptography in c:\users\usuario_1\anaconda3\envs\ironhack\lib\site-packages (42.0.5)
Requirement already satisfied: cffi>=1.12 in c:\users\usuario_1\anaconda3\envs\ironhack\lib\site-packages (from cryptography) (1.16.0)
Requirement already satisfied: pycparser in c:\users\usuario_1\anaconda3\envs\ironhack\lib\site-packages (from cffi>=1.12->cryptography) (2.21)
Note: you may need to restart the kernel to use updated packages.

In [49]:
password=getpass('Por favor introduce tu contraseña')

In [51]:
dbName='project'

In [52]:
connectionData=f"mysql+pymysql://root:{password}@localhost/{dbName}"

In [53]:
engine=alch.create_engine(connectionData)

In [71]:
import pandas as pd
import pymysql

# Connect to MySQL
conn = pymysql.connect(
    host='localhost',
    user='root',
    password=password,
    database='bank'
)
# Create a cursor object
cursor = conn.cursor()

# Create database
cursor.execute("CREATE DATABASE IF NOT EXISTS master")

# Select the database
cursor.execute("USE master")

# Create tables
create_category_table = """
CREATE TABLE IF NOT EXISTS category (
    category_id INT AUTO_INCREMENT PRIMARY KEY,
    category_name TEXT
)
"""
create_type_table = """
CREATE TABLE IF NOT EXISTS type (
    company_type_id INTEGER PRIMARY KEY,
    company_type TEXT
)
"""
create_employees_table = """
CREATE TABLE IF NOT EXISTS employees (
    employees_id INTEGER PRIMARY KEY,
    employees_num INTEGER
)
"""
create_locations_table = """
CREATE TABLE IF NOT EXISTS locations (
    locations_id INTEGER PRIMARY KEY,
    locations_name TEXT
)
"""

In [72]:
# Execute table creation queries
cursor.execute(create_category_table)
cursor.execute(create_type_table)
cursor.execute(create_employees_table)
cursor.execute(create_locations_table)
# Sample data
category_data = {
    "category_id": [1, 2, 3, 4, 5],
    "category_name": ["Electronics and Technology", "Home and Kitchen", "Fashion and Accessories", "Entertainment and Leisure", "Supplies and Others"]
}
type_data = {
    "company_type_id": [1, 2, 3],
    "company_type": ["Public", "Private", "Non-Profit"]
}
employees_data = {
    "employees_id": [1, 2, 3, 4],
    "employees_num": [10, 100, 500, 1000]
}
locations_data = {
    "locations_id": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    "locations_name": ["New York", "Los Angeles", "Houston", "Chicago", "Miami", "Dallas", "Las Vegas", "Boston", "Philadelphia", "San Francisco"]
}
# Convert data to pandas DataFrame
purchases_df = pd.read_csv('purchases_modificado.csv')
economic_df = pd.read_csv('economic_modificado.csv')
companies_df = pd.read_csv('companies_modificado.csv')
category_df = pd.DataFrame(category_data)
type_df = pd.DataFrame(type_data)
employees_df = pd.DataFrame(employees_data)
locations_df = pd.DataFrame(locations_data)

connectionData=f"mysql+pymysql://root:{password}@localhost/master"
engine = alch.create_engine(connectionData)

# Insert data into database
purchases_df.to_sql(name='purchases', con=engine, if_exists='append', index=False)
economic_df.to_sql(name='economic', con=engine, if_exists='append', index=False)
companies_df.to_sql(name='companies', con=engine, if_exists='append', index=False)
category_df.to_sql(name='category', con=engine, if_exists='append', index=False)
type_df.to_sql(name='type', con=engine, if_exists='append', index=False)
employees_df.to_sql(name='employees', con=engine, if_exists='append', index=False)
locations_df.to_sql(name='locations', con=engine, if_exists='append', index=False)
# Commit changes
conn.commit()
# Close connection
conn.close()